
  <footer>
    <div class="container-fluid">
      <div class="row footer-content">
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h4 titulo3">{{titulo}}</p>
          <p class="text-secondary">+54 3489 6211**</p>
          <p class="text-secondary">Saporiti 361. Campana. Bs. As</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h6 mb-2">Nosotros</p>
          <div class="mb-2 footer-links">
            <a class="footer-links" href="/">Home</a>
          </div>
          <div class="mb-2">
            <a class="footer-links" href="auditorias">Auditorias</a>
          </div>
          <div class="mb-2">
            <a class="footer-links" href="capacitaciones">Capacitaciones</a>
          </div>
          <div class="mb-2">
            <a class="footer-links" href="consultoria">Consultoria</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h6 mb-2">Links</p>
          <div class="mb-2">
            <a class="footer-links" href="#">Terminos y condiciones</a>
          </div>
          <div class="mb-2">
            <a class="footer-links" href="#">Privacy Policy</a>
          </div>
        </div>
  
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h6 mb-2">Seguinos</p>
          <div class="mb-2">
            <a class="footer-links" href="#">Instagram</a>
          </div>
          <div class="mb-2">
            <a class="footer-links" href="#">Facebook</a>
          </div>
          <div class="mb-2 footer-links">
            <a class="footer-links" href="contacto">Contacto</a>
          </div>
        </div>
  </div>
      </div>
  </footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>