{{>nav}}
{{>header}}
<body>
   <div class="container">
<h3>Error 404</h3>
<h6>pagina no encontrada </h6>
</div>
<div class="container">
<img class= "p-2 bordeImg error404" src="assets/img/404.jpg" alt="error 404">
</div>
    {{>footer}}
</body>
</html>