{{>nav}}

<body>
  <Section class="container-fluid">

    <div class="row">
      <div class="col-md-6 izquierda">
        <h2 class="titulo3">Auditorias</h2>
        <p class="lista">Las auditorías, como proceso objetivo e independiente, son una herramienta muy potente para la evaluación de los sistemas de gestión. Con auditores correctamente calificados podremos determinar si un sistema:</p>
        <ul class="lista">
          <li class="item">es conforme respecto a las disposiciones planificadas, los estándares y los requisitos de las normas aplicables</li>
          <li class="item">está funcionando / implementado</li>
                    <li class="item">es efectivo y produce los resultados previstos</li>
        
        </ul>
        <p class="lista">A su vez nos ayudarán a proveer información relevante para las revisiones por parte de la Dirección</p>
        <p class="lista">Contamos con un grupo de auditores calificados y con amplia experiencia en diferentes Normas que nos permite ofrecer: Auditorías Internas, Auditorías de Diagnóstico y Auditorías de Segunda Parte</p>
        <div class="container-fluid btn-contacto">
        <a href="contacto" class="btn btn-verde active" role="button" aria-pressed="true">Contactanos</a>
      </div>
      </div>
      <div class="col md-6 derecha">
        <img class="img-responsive img-secundaria"  src="assets/img/auditoria.jpg" alt="audit">
      </div>
    </div>
  </section>



{{>footer}}




