{{>nav}}



<body>
 <Section class="container-fluid">

    <div class="row">
      <div class="col-md-6 izquierda">
        <h2 class="titulo3">Capacitaciones</h2>
        <p class="lista">Llevamos adelante el proceso de una manera integral con un formato a medida de su empresa, brindando el
          asesoramiento que necesita para llevar adelante la actividad de capacitación desde la detección de la
          necesidad, el diseño de la mejor actividad, la implementación, hasta la evaluación final y el seguimiento de
          su aplicación en el puesto de trabajo</p>
        <ul class="lista">
          <li class="item">Taller HACCP Avanzado</li>
          <li class="item">Formación de Auditores Internos de Sistemas de Gestión</li>
          <li class="item">Buenas Prácticas de Manufactura para la Industria Alimentaria</li>
          <li class="item">Indicadores de Gestión y Tablero de Comando</li>
          <li class="item">FSSC 22000 v 5.1</li>
          <li class="item">ISO 9001:2015</li>
          <li class="item">ISO 22000:2018</li>
          <li class="item">ISO 22002:2019</li>
        </ul>
        <p class="lista">El servicio que brindamos es 100% customizado a las necesidades de tu empresa. Es por ello que las capacitaciones pueden realizarse en modalida in company, on-line o en nuestras oficinas</p>
        <div class="container-fluid btn-contacto">
        <a href="contacto" class="btn btn-verde active" role="button" aria-pressed="true">Contactanos</a>
      </div>
      </div>
      <div class="col md-6 derecha">
        <img class="img-responsive img-secundaria"  src="assets/img/capacitaciones.jpg" alt="audit">
      </div>
    </div>
  </section>

{{>footer}}    
                


