{{>nav}}

<body>
    <Section class="container-fluid">

    <div class="row">
      <div class="col-md-6 izquierda">
        <h2 class="titulo3">Consultoria</h2>
        <p class="lista">Realizamos auditorías, evaluaciones, informes de resultados y análisis comparativos de proveedores.
          Las auditorías pueden aplicarse a distintas áreas: gestión, técnica, ambiental, etc.</p>
        <p class="lista">Diseñamos propuestas basadas en estándares internacionales como y/o utilizamos checks específicos
          provistos por el cliente</p>
        <p class="lista">Realizamos el seguimiento de las acciones correctivas surgidas a partir de los resultados de las
          auditorías.
        </p>
      
        <ul class="lista">
          <li class="item">FSSC 22000 v 5.1 y otros esquemas reconocidos por GFSI</li>
          <li class="item">ISO 9001:2015</li>
          <li class="item">ISO 22000:2018</li>
          <li class="item">ISO 22002:2019</li>
        </ul>
        <p class="lista">Te ayudamos con el desarrollo de tus proveedores a traves de nuestro metodo de seleccion y evaluacion
          de los mismos</p>
        <div class="container-fluid btn-contacto">
          <a href="contacto" class="btn btn-verde active" role="button" aria-pressed="true">Contactanos</a>
        </div>
      </div>
      <div class="col md-6 derecha">
        <img class="img-responsive img-secundaria" src="assets/img/consultoria.jpg" alt="audit">
      </div>
      </div>
      </section>
{{>footer}}