{{>nav}}
{{>header}}

<body>
 <div class="container">  
<h3>Gracias por contactarnos</h3> 
<h6>Su mensaje ha sido enviado, nos pondremos en contacto a la brevedad </h6>
</div>
<div class="container">
<img class= "p-2 bordeImg enviado" src="assets/img/enviado.png" alt="mensaje enviado">
</div>

{{>footer}}