{{>nav}}

{{>header}}
<Section class="container-fluid contenidoHome">
  <div class="vision"><h3>Brindamos a las empresas del segmento de la alimentacion herramientas que les permitan alcanzar los mas altos estandares de calidad a traves de herramientas que conducen a la mejora continua</h3>
  </div>

  <div class="row justify-content-center flex-lg-nowrap">
    <div class="col col-sm-12 col-md-4 col-lg-3">
      <div class="card bordeImg">
        <img class="card-img-top p-2 bordeImg" src="assets/img/auditoria.jpg" alt="consultoria">
        <div class="card-body">
          <h5 class="card-title titulo3">Auditoria</h5>
          <p class="card-text">Las auditorías, como proceso objetivo e independiente, son una herramienta muy potente para la evaluación y mejora de los sistemas de gestión </p>
          <a href="auditorias" class="btn btn-verde">Mas sobre este servicio</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-12 col-md-4 col-lg-3">
      <div class="card bordeImg">
        <img class="card-img-top p-2 bordeImg" src="assets/img/capacitaciones.jpg" alt="capacitaciones">
        <div class="card-body">
          <h5 class="card-title titulo3">Capacitaciones</h5>
          <p class="card-text">Ayudamos a nuestros alumnos a que adquieran conocimientos o habilidades para implementarlos en su campo de trabajo, innovar y transformarse en agentes de cambio</p>
          <a href="capacitaciones" class="btn btn-verde">Mas sobre este servicio</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-12 col-md-4 col-lg-3">
      <div class="card bordeImg">
        <img class="card-img-top p-2 bordeImg" src="assets/img/consultoria.jpg" alt="consultoria">
        <div class="card-body">
          <h5 class="card-title titulo3">Consultoria</h5>
          <p class="card-text">Implementamos acciones estratégicas que garantizan la máxima seguridad de los alimentos, abarcando toda la cadena de valor
            content.</p>
          <a href="consultoria" class="btn btn-verde">Mas sobre este servicio</a>
        </div>
      </div>
    </div>
  </div>
   
</Section>

{{>footer}}